@font-face {
  font-family: PoiretOne;
  src: url(../fonts/PoiretOne-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Lunasima;
  src: url(../fonts/Lunasima-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Lunasima;
  src: url(../fonts/Lunasima-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter_18pt-Regular.ttf);
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 95px;
  max-width: 1672px;
}

ul {
  list-style: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 32px 0;
  align-items: center;
}
.header__ul {
  display: flex;
  gap: 38px;
  font-family: PoiretOne;
  font-weight: 400;
  font-size: 27px;
  color: #fff;
  align-items: center;
}
.header__ul:hover {
  color: #aaaaaa;
}
.header__li {
  color: #fff;
}
.header__li2 {
  width: 84px;
}
.header__btn {
  background-color: #00A3FF;
  padding: 15px 23px;
  border-radius: 15px;
}

.main {
  background-color: #1C1C1C;
}
.main__title-block {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__title {
  color: #ffffff;
  text-align: center;
  vertical-align: text-top;
  font-size: 55px;
  font-family: Lunasima;
  font-weight: bold;
}
.main__title-a {
  color: #000;
  background-color: #fff;
  padding: 19px 20px;
  font-family: Lunasima;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
}
.main__search {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 45px;
  background-color: #fff;
  color: #585858;
  width: 120px;
  font-size: 19px;
  padding: 8px 14px;
  font-family: Lunasima;
  font-weight: 400;
  border-radius: 10px;
  border: none;
}
.main__search::after {
  content: "";
  display: block;
  background-image: url(../img/main__search.svg);
  width: 25px;
  height: 22px;
}
.main__card-block {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main__card {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Lunasima;
  gap: 55px;
}
.main__card-img {
  width: 350px;
  height: 400px;
}
.main__card-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main__card-price {
  color: #28A5FF;
  font-weight: bold;
  font-size: 33px;
  margin-bottom: 5px;
}
.main__card-adres {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}
.main__card-adres::before {
  content: "";
  display: block;
  background-image: url(../img/main_adres.svg);
  width: 25px;
  height: 25px;
}
.main__card-adres:hover {
  transition: all 0.3s ease;
  transform: scale(1.009);
  cursor: pointer;
}
.main__card-subtitle {
  font-size: 23px;
  font-family: Lunasima;
  font-weight: 400;
  width: 600px;
  margin-top: 17px;
}
.main__card-next {
  display: flex;
  margin-top: 65px;
  align-items: center;
  gap: 7px;
  font-family: Lunasima;
  font-weight: 700;
  font-size: 23px;
  width: 100px;
}
.main__card-next::after {
  content: "";
  display: block;
  background-image: url(../img/main__next.svg);
  width: 17px;
  height: 15px;
}
.main__card-next:hover {
  transition: all 0.3s ease;
  transform: scale(1.02);
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  margin-top: 125px;
  color: #fff;
  font-family: Lunasima;
}
.footer__img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 175px;
  margin-bottom: 40px;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-weight: 400;
  width: 160px;
  font-size: 15px;
}
.footer__text-info {
  align-items: center;
  text-align: center;
}
.footer__info {
  font-weight: 400;
  width: 300px;
  font-size: 15px;
}
.footer__info-a {
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  font-weight: bold;
  text-decoration: underline;
}
.footer__other {
  text-align: center;
}